{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body %}
    <div id="wrap">
        <div class="container">
            <h1>Update Book</h1>
            {% include 'book/components/_editBookForm.html.twig' %}
        </div>
    </div>

</div>
{% endblock %}
