{% extends 'base.html.twig' %}

{% block title %}Book list{% endblock %}

{% block body %}
    <div id="wrap">
        <div class="container">
            <h1>Find Book</h1>
            {% include 'book/components/_searchForm.html.twig' %}
            {% include 'book/components/_booksTable.html.twig' %}

        </div>
    </div>

</div>
{% endblock %}